.currencyBar__container button {
  padding: 5px;
  margin: 5px 10px;
  border: none;
  border-radius: 4px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  cursor: pointer;
}
