body {
  --offset-from-edge: 23%;
}

.top__Navbar {
  grid-area: 1/1/2/5;
  display: grid;
  grid-template-rows: 1fr 1.25fr 0.25fr;
  grid-template-columns: 1fr 1fr;
  color: white;
  background: rgb(27, 38, 61);
}

.top__Navbar h3 {
  grid-area: 1/1/2/2;
  text-align: left;
  margin-left: var(--offset-from-edge);
  align-self: center;
}

.overview {
  grid-area: 2/1/3/2;
  text-align: left;
  margin-left: var(--offset-from-edge);
  margin-top: 3px;
  align-self: flex-start;
  color: var(--clickables-colour);
}

.top__Navbar h1 {
  grid-area: 2/1/3/2;
  text-align: left;
  margin-left: var(--offset-from-edge);
  align-self: flex-end;
  margin-bottom: 14px;
}

.tabs {
  grid-area: 3/1/4/2;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 22%;
  align-self: flex-end;
  font-size: 0.6rem;
}

.tabs p {
  padding: 8px 0px;
  margin: 0px 10px;
}

.navigate {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 0.6rem;
  margin: auto var(--offset-from-edge) auto auto;
}

.navigate p {
  font-size: 0.6rem;
  padding: 10px;
}

.moreActionsMenu {
  grid-area: 3/2/4/3;
  text-align: right;
  font-size: 0.6rem;
  margin-right: var(--offset-from-edge);
  align-self: flex-end;
}

.active {
  color: var(--clickables-colour);
  border-bottom: 4px solid var(--clickables-colour);
}
