.pageFooter {
  margin: 50px;
  grid-area: 5/2/6/4;
  color: rgb(52, 172, 228);
  font-size: 0.6rem;
  text-align: center;
}

.pageFooter p {
  font-size: 0.5rem;
  text-align: center;
  color: grey;
}
